<head>
    <title>Match predictor</title>
</head>
<body>
    <h1>Welcome to the Match Predictor</h1>
    <form action="/webapp/app.py" method="post">
        <label for="Home team">Home team:</label>
        <input type="text" id="Home team" name="Home team" required><br><br>
        <label for="Away team">Away team:</label>
        <input type="text" id="Away team" name="Away team" required><br><br>
        <input type="submit" value="Predict Match Outcome">
        <button type="button">Confirm Prediction</button>
    </form>